iframe{
    width: 100%;
    height: 100vh; 
    border-radius: 500%;
}
#window{
    background-color: blue;
    width: 100%;
    height: 500px;
}
.name{
z-index: 9999;
position: relative;
background-color: aqua;
width: 100%;
height: 200px;
}